[user]
	name = Asbjørn Enge
	email = asbjorn@hanafjedle.net
[core]
	autocrlf = false
	mergeoptions = --no-ff --no-commit
[alias]
	st = status
  aa = add --all
  l  = log
  c  = commit 
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = simple
